<a href="https://colab.research.google.com/github/Josh1313/ML_Telecom_churn/blob/main/SUP_ML_3_Martinez%2CMolina%2CRomero_Predict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SUP ML 3 - PREDICT

# Librerias

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns',None)

import warnings
warnings.filterwarnings("ignore")

In [ ]:
pip install catboost

Collecting catboost
  Downloading catboost-1.2-cp310-cp310-manylinux2014_x86_64.whl (98.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 98.6/98.6 MB 9.0 MB/s eta 0:00:00
Requirement already satisfied: graphviz in /usr/local/lib/python3.10/dist-packages (from catboost) (0.20.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from catboost) (3.7.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from catboost) (1.22.4)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.10/dist-packages (from catboost) (1.5.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from catboost) (1.10.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.10/dist-packages (from catboost) (5.13.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from catboost) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2022.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (4.41.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (3.1.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly->catboost) (8.2.2)
Installing collected packages: catboost
Successfully installed catboost-1.2

In [ ]:
from catboost import CatBoostClassifier

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Carga modelo

* Cargar el modelo
* Obtener la lista de model features

In [ ]:
import pickle

In [ ]:
model = pickle.load(open('/content/drive/MyDrive/EJERCICIO-ML-Sup-main/data/model.pkl', 'rb'))

In [ ]:
model

In [ ]:

features_model =  list(model.feature_names_)

In [ ]:
features_model

['rev',
 'mou',
 'change_mou',
 'drop_vce',
 'drop_dat',
 'blck_vce',
 'blck_dat',
 'unan_vce',
 'unan_dat',
 'plcd_dat',
 'recv_vce',
 'recv_sms',
 'custcare',
 'threeway',
 'mou_cvce',
 'mou_cdat',
 'mou_rvce',
 'owylis_vce',
 'mouowylisv',
 'iwylis_vce',
 'mouiwylisv',
 'peak_vce',
 'peak_dat',
 'mou_peav',
 'mou_pead',
 'opk_vce',
 'opk_dat',
 'mou_opkv',
 'drop_blk',
 'complete',
 'callfwdv',
 'callwait',
 'months',
 'uniqsubs',
 'actvsubs',
 'new_cell',
 'asl_flag',
 'totrev',
 'avgrev',
 'avg3rev',
 'avg6rev',
 'prizm_social_one',
 'dualband',
 'refurb_new',
 'hnd_price',
 'hnd_webcap',
 'truck',
 'rv',
 'ownrent',
 'lor',
 'dwlltype',
 'marital',
 'adults',
 'income',
 'numbcars',
 'HHstatin',
 'dwllsize',
 'forgntvl',
 'kid0_2',
 'kid3_5',
 'kid6_10',
 'kid11_15',
 'kid16_17',
 'creditcd',
 'eqpdays',
 'area_ATLANTIC SOUTH',
 'area_CALIFORNIA NORTH',
 'area_CENTRAL/SOUTH TEXAS',
 'area_CHICAGO',
 'area_DALLAS',
 'area_DC/MARYLAND/VIRGINIA',
 'area_GREAT LAKES',
 'area_HOUSTON',
 'area_LOS ANGELES',
 'area_MIDWEST',
 'area_NEW ENGLAND',
 'area_NEW YORK CITY',
 'area_NORTH/SOUTH FLORIDA',
 'area_NORTHWEST/ROCKY MOUNTAIN',
 'area_OHIO',
 'area_PHILADELPHIA',
 'area_SOUTHWEST',
 'area_TENNESSEE',
 'ethnic_B',
 'ethnic_F',
 'ethnic_G',
 'ethnic_H',
 'ethnic_I',
 'ethnic_J',
 'ethnic_N',
 'ethnic_O',
 'ethnic_R-i-i-P-X',
 'ethnic_S',
 'ethnic_U',
 'ethnic_Unknown',
 'ethnic_Z',
 'crclscod_A',
 'crclscod_AA',
 'crclscod_B',
 'crclscod_BA',
 'crclscod_C',
 'crclscod_CA',
 'crclscod_DA',
 'crclscod_EA',
 'crclscod_Others',
 'crclscod_ZA']

In [ ]:
X_pred = pd.read_csv('/content/drive/MyDrive/EJERCICIO-ML-Sup-main/data/telecom_churn_PREDICT.csv')

In [ ]:
X_pred.set_index('Customer_ID', inplace=True)

In [ ]:
X_pred.head()

,rev,mou,totmrc,da,ovrmou,ovrrev,vceovr,datovr,roam,change_mou,change_rev,drop_vce,drop_dat,blck_vce,blck_dat,unan_vce,unan_dat,plcd_vce,plcd_dat,recv_vce,recv_sms,comp_vce,comp_dat,custcare,ccrndmou,cc_mou,inonemin,threeway,mou_cvce,mou_cdat,mou_rvce,owylis_vce,mouowylisv,iwylis_vce,mouiwylisv,peak_vce,peak_dat,mou_peav,mou_pead,opk_vce,opk_dat,mou_opkv,mou_opkd,drop_blk,attempt,complete,callfwdv,callwait,months,uniqsubs,actvsubs,new_cell,crclscod,asl_flag,totcalls,totmou,totrev,adjrev,adjmou,adjqty,avgrev,avgmou,avgqty,avg3mou,avg3qty,avg3rev,avg6mou,avg6qty,avg6rev,prizm_social_one,area,dualband,refurb_new,hnd_price,phones,models,hnd_webcap,truck,rv,ownrent,lor,dwlltype,marital,adults,infobase,income,numbcars,HHstatin,dwllsize,forgntvl,ethnic,kid0_2,kid3_5,kid6_10,kid11_15,kid16_17,creditcd,eqpdays
Customer_ID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1090001,30.8350,136.75,29.9900,0.2475,1.25,0.500,0.5,0.000,0.0975,48.25,1.1550,2.000000,0.000000,10.333333,0.0,13.333333,0.0,66.000000,0.000000,3.333333,0.0,40.666667,0.000000,1.333333,1.333333,0.896667,0.666667,0.333333,71.746667,0.000000,5.406667,1.333333,0.713333,0.333333,0.473333,30.000000,0.0,54.500000,0.0,13.666667,0.000000,22.653333,0.000000,12.333333,66.000000,40.666667,0.0,0.000000,7,1,1,U,AA,N,393,958.0,248.46,182.94,958.0,393,30.49,159.67,65.50,121,52,30,160.0,66.0,31.0,C,ATLANTIC SOUTH AREA,Y,N,149.98999,1.0,1.0,WCMB,0.0,0.0,R,NaN,M,M,1.0,M,3.0,NaN,C,NaN,1.0,U,U,U,U,U,U,Y,216.0
1090002,35.8475,352.75,24.2700,0.4950,23.25,9.285,8.7,0.585,1.8000,-352.75,-35.8475,9.000000,0.000000,0.000000,0.0,10.000000,0.0,82.666667,1.000000,31.000000,0.0,65.333333,1.000000,3.666667,9.000000,5.890000,18.333333,1.333333,98.543333,1.023333,83.666667,15.666667,12.683333,1.333333,14.286667,38.000000,0.0,106.926667,0.0,43.666667,1.000000,75.283333,1.023333,9.000000,83.666667,66.333333,0.0,1.333333,7,1,1,U,EA,Y,1641,4011.0,391.87,305.59,3998.0,1634,50.93,666.33,272.33,470,181,48,666.0,272.0,51.0,C,NORTHWEST/ROCKY MOUNTAIN AREA,T,N,99.98999,2.0,1.0,WCMB,0.0,0.0,NaN,NaN,NaN,U,NaN,NaN,NaN,NaN,NaN,NaN,0.0,N,U,U,U,U,U,N,101.0
1090003,30.3275,241.50,39.9900,0.0000,0.00,0.000,0.0,0.000,0.0000,-86.50,0.8625,2.000000,0.000000,4.666667,0.0,20.666667,0.0,85.333333,0.000000,26.666667,0.0,59.333333,0.000000,4.333333,6.333333,4.466667,17.000000,1.666667,143.530000,0.000000,27.373333,9.666667,3.760000,19.666667,21.736667,48.666667,0.0,76.356667,0.0,36.000000,0.000000,94.543333,0.000000,6.666667,85.333333,59.333333,0.0,0.333333,9,2,2,Y,A,N,780,1889.0,312.91,219.45,1772.0,734,31.35,253.14,104.86,270,107,30,273.0,109.0,31.0,T,CENTRAL/SOUTH TEXAS AREA,N,N,129.98999,1.0,1.0,WCMB,1.0,0.0,O,13.0,S,M,3.0,M,6.0,1.0,C,A,0.0,N,U,U,U,U,U,Y,262.0
1090004,154.6925,2297.00,149.9900,4.7025,0.00,0.000,0.0,0.000,0.0000,119.00,0.2475,20.333333,0.000000,5.000000,0.0,329.333333,0.0,1067.000000,0.000000,628.000000,0.0,723.000000,0.000000,0.333333,0.666667,0.376667,408.000000,0.000000,769.136667,0.000000,679.020000,271.000000,167.090000,68.666667,150.656667,723.000000,0.0,961.736667,0.0,346.000000,0.000000,486.420000,0.000000,25.333333,1067.000000,723.000000,0.0,8.333333,11,1,1,U,AA,N,9018,18478.0,2217.05,2131.17,18478.0,9018,213.12,1847.80,901.80,2257,1045,155,2452.0,1171.0,278.0,S,ATLANTIC SOUTH AREA,N,R,79.98999,2.0,1.0,WCMB,0.0,0.0,O,3.0,S,U,3.0,M,6.0,1.0,NaN,A,0.0,S,U,U,U,U,U,Y,127.0
1090005,156.0050,542.25,48.9475,0.7425,70.75,28.295,28.1,0.195,0.0000,195.75,40.0150,5.666667,0.333333,0.666667,0.0,46.333333,0.0,167.666667,0.666667,11.333333,0.0,115.000000,0.333333,21.666667,48.000000,31.346667,10.000000,0.333333,343.066667,0.010000,11.243333,13.000000,14.563333,1.333333,2.100000,91.000000,0.0,205.216667,0.0,31.000000,0.333333,149.096667,0.010000,6.666667,168.333333,115.333333,0.0,0.666667,9,1,1,U,CA,Y,791,2601.0,879.51,608.66,2601.0,791,86.95,371.57,113.00,477,130,143,349.0,103.0,91.0,U,LOS ANGELES AREA,Y,N,149.98999,2.0,1.0,WCMB,0.0,0.0,O,1.0,NaN,S,1.0,M,6.0,1.0,C,NaN,0.0,N,U,U,U,U,U,Y,37.0

In [ ]:
X_pred.shape

(10000, 98)

# ML Preprocessing

In [ ]:
del(X_pred["infobase"])

In [ ]:
columnas_unknown_categoricas = ["prizm_social_one", "area", "refurb_new", "ownrent", "dwlltype", "HHstatin", "dwllsize", "ethnic"]

In [ ]:
for i in columnas_unknown_categoricas:
    X_pred[i].fillna("Unknown", inplace=True)

In [ ]:
X_pred["hnd_webcap"].fillna("UNKW", inplace=True)

In [ ]:

columnas_U_categoricas = ["dualband", "marital", "kid0_2", "kid3_5", "kid6_10", "kid11_15", "kid16_17", "creditcd"]

In [ ]:
for i in columnas_U_categoricas:
    X_pred[i].fillna("U", inplace=True)

In [ ]:
mean_eqpdays =X_pred["eqpdays"].mean()
X_pred.loc[(X_pred["eqpdays"]<0), "eqpdays"] = mean_eqpdays

In [ ]:

nullColumns = ["numbcars", "truck", "rv", "forgntvl"]

In [ ]:
for i in   nullColumns:
    X_pred[i].fillna(0, inplace=True)

In [ ]:
NumericOutlayers = ["avg6mou", "avg6qty", "avg6rev", "lor", "income", "adults", "hnd_price", "change_mou", "change_rev", "rev", "mou", "totmrc", "da", "ovrmou", "ovrrev", "vceovr", "datovr", "roam", "phones", "models", "eqpdays", ]
for i in   NumericOutlayers:
    X_pred[i].fillna(-99999, inplace=True)

In [ ]:
print(f"{len(X_pred.columns[X_pred.isnull().any()])}")

0

In [ ]:
 BoolianIdentifiers = {
    "O":1,
    "M":1,
    "Y":1,
    "T":1,
    "WCMB":1,
    "R":0,
    "S":0,
    "U":0,
    "N":0,
    "WC":0,
    "UNKW":-99999,
    "Unknown":-99999
}

In [ ]:
encodingColumns = ["ownrent", "dwlltype", "kid0_2", "kid3_5", "kid6_10", "kid11_15", "kid16_17", "creditcd", "asl_flag","hnd_webcap"]

In [ ]:
for i in   encodingColumns:
    X_pred[i].replace(  BoolianIdentifiers, inplace = True)

In [ ]:

  BoolianIdentifiers_2 = {
    "R":0,
    "N":1,
    "Unknown":-99999
}

In [ ]:
X_pred["refurb_new"].replace(  BoolianIdentifiers_2, inplace=True)

In [ ]:

  BoolianIdentifiers_3 = {
    "Y":1,
    "N":0,
    "T":1,
    "U":-99999,
    "Unknown":-99999
}

In [ ]:
encodingColumns_2 = ["dualband", "new_cell"]

In [ ]:
for i in   encodingColumns_2:
    X_pred[i].replace(  BoolianIdentifiers_3, inplace = True)

In [ ]:
replace_dict = {'U': -99999,
                 'M': 1,
                 'S': 0,
                 'B': 0,
                 'A': 0}

In [ ]:

X_pred['marital'] = X_pred['marital'].replace(replace_dict)

In [ ]:

for i in   encodingColumns:
    print(X_pred[i].value_counts())

 1        5555
-99999    4215
 0         230
Name: ownrent, dtype: int64
 0        4238
-99999    3931
 1        1831
Name: dwlltype, dtype: int64
0    9599
1     401
Name: kid0_2, dtype: int64
0    9545
1     455
Name: kid3_5, dtype: int64
0    9280
1     720
Name: kid6_10, dtype: int64
0    9238
1     762
Name: kid11_15, dtype: int64
0    9166
1     834
Name: kid16_17, dtype: int64
1    5518
0    4482
Name: creditcd, dtype: int64
0    6663
1    3337
Name: asl_flag, dtype: int64
 1        8337
 0         960
-99999     703
Name: hnd_webcap, dtype: int64

In [ ]:
X_pred["refurb_new"].value_counts()

1    8969
0    1031
Name: refurb_new, dtype: int64

In [ ]:
for i in   encodingColumns_2:
    print(X_pred[i].value_counts())

 1        7191
 0        2778
-99999      31
Name: dualband, dtype: int64
-99999    8102
 1        1187
 0         711
Name: new_cell, dtype: int64

In [ ]:

X_pred['marital'].value_counts()

-99999    4564
 0        2803
 1        2633
Name: marital, dtype: int64

In [ ]:
X_pred["crclscod"].value_counts().sort_index()

A     1394
A2      90
AA    2357
B      367
B2      67
BA    1397
C       38
C2      28
C5      67
CA     945
CC       6
CY     169
D        3
D4     194
D5      98
DA     468
E        9
E2       2
E4     528
EA     898
EC      16
EM      11
G        5
GA      16
GY      29
H        1
I       12
J       21
JF       2
K       13
L        2
M       16
O        1
P1       4
U       51
U1      10
W       13
Y       16
Z        4
Z1       1
Z2       1
Z4     159
Z5      48
ZA     316
ZY     107
Name: crclscod, dtype: int64

In [ ]:

categories_to_keep = ['AA', 'A', 'BA', 'CA', 'EA', 'B', 'DA', 'ZA', 'C']

In [ ]:
X_pred['crclscod'] = X_pred['crclscod'].where(X_pred['crclscod'].isin(categories_to_keep), 'Others')

In [ ]:
X_pred["crclscod"].value_counts().sort_index()

A         1394
AA        2357
B          367
BA        1397
C           38
CA         945
DA         468
EA         898
Others    1820
ZA         316
Name: crclscod, dtype: int64

In [ ]:
X_pred["dwllsize"].value_counts().sort_index()

A          4087
B           462
C           140
D            69
E            53
F            37
G            46
H            37
I            27
J           150
K            66
L            63
M            31
N            95
O            93
Unknown    4544
Name: dwllsize, dtype: int64

In [ ]:

from sklearn.preprocessing import OrdinalEncoder

In [ ]:
categorias_dwllsize = X_pred["dwllsize"].value_counts().sort_index().index.tolist()

In [ ]:
ordinal_encoder_2 = OrdinalEncoder(categories=[categorias_dwllsize])
categorias_dwllsize

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'Unknown']

In [ ]:

X_pred['dwllsize'] = ordinal_encoder_2.fit_transform(X_pred[['dwllsize']])
X_pred.loc[X_pred['dwllsize'] == 15, 'dwllsize'] = -99999

In [ ]:
ethnic_RDMPX = ['R', 'i', 'i', 'P', 'X']

In [ ]:

X_pred['ethnic'] = X_pred['ethnic'].replace(ethnic_RDMPX, 'R-i-i-P-X')

In [ ]:
X_pred['ethnic'].value_counts()

N            2989
H            1652
S            1123
U             968
R-i-i-P-X     575
G             458
Z             445
O             387
I             302
Unknown       281
C             244
J             216
F             187
B              95
D              66
M              12
Name: ethnic, dtype: int64

In [ ]:
X_pred["area"].value_counts()

LOS ANGELES AREA                 2080
SOUTHWEST AREA                   1181
NEW YORK CITY AREA                805
DC/MARYLAND/VIRGINIA AREA         643
ATLANTIC SOUTH AREA               606
MIDWEST AREA                      455
HOUSTON AREA                      454
CALIFORNIA NORTH AREA             437
CHICAGO AREA                      379
GREAT LAKES AREA                  373
NEW ENGLAND AREA                  362
NORTH FLORIDA AREA                354
CENTRAL/SOUTH TEXAS AREA          337
DALLAS AREA                       320
OHIO AREA                         320
NORTHWEST/ROCKY MOUNTAIN AREA     315
SOUTH FLORIDA AREA                213
TENNESSEE AREA                    183
PHILADELPHIA AREA                 183
Name: area, dtype: int64

In [ ]:
X_pred["area"] = X_pred["area"].str.split(' AREA').str[0]

In [ ]:

X_pred['area'] = X_pred['area'].replace(['NORTH FLORIDA', 'SOUTH FLORIDA'], 'NORTH/SOUTH FLORIDA')

In [ ]:
X_pred['area'].value_counts()

LOS ANGELES                 2080
SOUTHWEST                   1181
NEW YORK CITY                805
DC/MARYLAND/VIRGINIA         643
ATLANTIC SOUTH               606
NORTH/SOUTH FLORIDA          567
MIDWEST                      455
HOUSTON                      454
CALIFORNIA NORTH             437
CHICAGO                      379
GREAT LAKES                  373
NEW ENGLAND                  362
CENTRAL/SOUTH TEXAS          337
DALLAS                       320
OHIO                         320
NORTHWEST/ROCKY MOUNTAIN     315
TENNESSEE                    183
PHILADELPHIA                 183
Name: area, dtype: int64

In [ ]:

cols_name = ["area", "ethnic", "crclscod"]
cols_category = X_pred[cols_name]

In [ ]:
for i in cols_category:
    print(X_pred[i].value_counts())

LOS ANGELES                 2080
SOUTHWEST                   1181
NEW YORK CITY                805
DC/MARYLAND/VIRGINIA         643
ATLANTIC SOUTH               606
NORTH/SOUTH FLORIDA          567
MIDWEST                      455
HOUSTON                      454
CALIFORNIA NORTH             437
CHICAGO                      379
GREAT LAKES                  373
NEW ENGLAND                  362
CENTRAL/SOUTH TEXAS          337
DALLAS                       320
OHIO                         320
NORTHWEST/ROCKY MOUNTAIN     315
TENNESSEE                    183
PHILADELPHIA                 183
Name: area, dtype: int64
N            2989
H            1652
S            1123
U             968
R-i-i-P-X     575
G             458
Z             445
O             387
I             302
Unknown       281
C             244
J             216
F             187
B              95
D              66
M              12
Name: ethnic, dtype: int64
AA        2357
Others    1820
BA        1397
A         1394
CA         945
EA         898
DA         468
B          367
ZA         316
C           38
Name: crclscod, dtype: int64

In [ ]:
for col in cols_category:
    X_pred = pd.get_dummies(X_pred, columns=[col])

In [ ]:
X_pred.head()

,rev,mou,totmrc,da,ovrmou,ovrrev,vceovr,datovr,roam,change_mou,change_rev,drop_vce,drop_dat,blck_vce,blck_dat,unan_vce,unan_dat,plcd_vce,plcd_dat,recv_vce,recv_sms,comp_vce,comp_dat,custcare,ccrndmou,cc_mou,inonemin,threeway,mou_cvce,mou_cdat,mou_rvce,owylis_vce,mouowylisv,iwylis_vce,mouiwylisv,peak_vce,peak_dat,mou_peav,mou_pead,opk_vce,opk_dat,mou_opkv,mou_opkd,drop_blk,attempt,complete,callfwdv,callwait,months,uniqsubs,actvsubs,new_cell,asl_flag,totcalls,totmou,totrev,adjrev,adjmou,adjqty,avgrev,avgmou,avgqty,avg3mou,avg3qty,avg3rev,avg6mou,avg6qty,avg6rev,prizm_social_one,dualband,refurb_new,hnd_price,phones,models,hnd_webcap,truck,rv,ownrent,lor,dwlltype,marital,adults,income,numbcars,HHstatin,dwllsize,forgntvl,kid0_2,kid3_5,kid6_10,kid11_15,kid16_17,creditcd,eqpdays,area_ATLANTIC SOUTH,area_CALIFORNIA NORTH,area_CENTRAL/SOUTH TEXAS,area_CHICAGO,area_DALLAS,area_DC/MARYLAND/VIRGINIA,area_GREAT LAKES,area_HOUSTON,area_LOS ANGELES,area_MIDWEST,area_NEW ENGLAND,area_NEW YORK CITY,area_NORTH/SOUTH FLORIDA,area_NORTHWEST/ROCKY MOUNTAIN,area_OHIO,area_PHILADELPHIA,area_SOUTHWEST,area_TENNESSEE,ethnic_B,ethnic_C,ethnic_D,ethnic_F,ethnic_G,ethnic_H,ethnic_I,ethnic_J,ethnic_M,ethnic_N,ethnic_O,ethnic_R-i-i-P-X,ethnic_S,ethnic_U,ethnic_Unknown,ethnic_Z,crclscod_A,crclscod_AA,crclscod_B,crclscod_BA,crclscod_C,crclscod_CA,crclscod_DA,crclscod_EA,crclscod_Others,crclscod_ZA
Customer_ID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1090001,30.8350,136.75,29.9900,0.2475,1.25,0.500,0.5,0.000,0.0975,48.25,1.1550,2.000000,0.000000,10.333333,0.0,13.333333,0.0,66.000000,0.000000,3.333333,0.0,40.666667,0.000000,1.333333,1.333333,0.896667,0.666667,0.333333,71.746667,0.000000,5.406667,1.333333,0.713333,0.333333,0.473333,30.000000,0.0,54.500000,0.0,13.666667,0.000000,22.653333,0.000000,12.333333,66.000000,40.666667,0.0,0.000000,7,1,1,-99999,0,393,958.0,248.46,182.94,958.0,393,30.49,159.67,65.50,121,52,30,160.0,66.0,31.0,C,1,1,149.98999,1.0,1.0,1,0.0,0.0,0,-99999.0,1,1,1.0,3.0,0.0,C,-99999.0,1.0,0,0,0,0,0,1,216.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0
1090002,35.8475,352.75,24.2700,0.4950,23.25,9.285,8.7,0.585,1.8000,-352.75,-35.8475,9.000000,0.000000,0.000000,0.0,10.000000,0.0,82.666667,1.000000,31.000000,0.0,65.333333,1.000000,3.666667,9.000000,5.890000,18.333333,1.333333,98.543333,1.023333,83.666667,15.666667,12.683333,1.333333,14.286667,38.000000,0.0,106.926667,0.0,43.666667,1.000000,75.283333,1.023333,9.000000,83.666667,66.333333,0.0,1.333333,7,1,1,-99999,1,1641,4011.0,391.87,305.59,3998.0,1634,50.93,666.33,272.33,470,181,48,666.0,272.0,51.0,C,1,1,99.98999,2.0,1.0,1,0.0,0.0,-99999,-99999.0,-99999,-99999,-99999.0,-99999.0,0.0,Unknown,-99999.0,0.0,0,0,0,0,0,0,101.0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1090003,30.3275,241.50,39.9900,0.0000,0.00,0.000,0.0,0.000,0.0000,-86.50,0.8625,2.000000,0.000000,4.666667,0.0,20.666667,0.0,85.333333,0.000000,26.666667,0.0,59.333333,0.000000,4.333333,6.333333,4.466667,17.000000,1.666667,143.530000,0.000000,27.373333,9.666667,3.760000,19.666667,21.736667,48.666667,0.0,76.356667,0.0,36.000000,0.000000,94.543333,0.000000,6.666667,85.333333,59.333333,0.0,0.333333,9,2,2,1,0,780,1889.0,312.91,219.45,1772.0,734,31.35,253.14,104.86,270,107,30,273.0,109.0,31.0,T,0,1,129.98999,1.0,1.0,1,1.0,0.0,1,13.0,0,1,3.0,6.0,1.0,C,0.0,0.0,0,0,0,0,0,1,262.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
1090004,154.6925,2297.00,149.9900,4.7025,0.00,0.000,0.0,0.000,0.0000,119.00,0.2475,20.333333,0.000000,5.000000,0.0,329.333333,0.0,1067.000000,0.000000,628.000000,0.0,723.000000,0.000000,0.333333,0.666667,0.376667,408.000000,0.000000,769.136667,0.000000,679.020000,271.000000,167.090000,68.666667,150.656667,723.000000,0.0,961.736667,0.0,346.000000,0.000000,486.420000,0.000000,25.333333,1067.000000,723.000000,0.0,8.333333,11,1,1,-99999,0,9018,18478.0,2217.05,2131.17,18478.0,9018,213.12,1847.80,901.80,2257,1045,155,2452.0,1171.0,278.0,S,0,0,79.98999,2.0,1.0,1,0.0,0.0,1,3.0,0,-99999,3.0,6.0,1.0,Unknown,0.0,0.0,0,0,0,0,0,1,127.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0
1090005,156.0050,542.25,48.9475,0.7425,70.75,28.295,28.1,0.195,0.0000,195.75,40.0150,5.666667,0.333333,0.666667,0.0,46.333333,0.0,167.666667,0.666667,11.333333,0.0,115.000000,0.333333,21.666667,48.000000,31.346667,10.000000,0.333333,343.066667,0.010000,11.243333,13.000000,14.563333,1.333333,2.100000,91.000000,0.0,205.216667,0.0,31.000000,0.333333,149.096667,0.010000,6.666667,168.333333,115.333333,0.0,0.666667,9,1,1,-99999,1,791,2601.0,879.51,608.66,2601.0,791,86.95,371.57,113.00,477,130,143,349.0,103.0,91.0,U,1,1,149.98999,2.0,1.0,1,0.0,0.0,1,1.0,-99999,0,1.0,6.0,1.0,C,-99999.0,0.0,0,0,0,0,0,1,37.0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [ ]:
X_pred['prizm_social_one'].value_counts()

S          2894
U          2678
C          1774
T          1284
Unknown     851
R           519
Name: prizm_social_one, dtype: int64

In [ ]:

replace_alphabet = {
    'A' : 1,
    'B' : 2,
    'C' : 3,
    'D' : 4,
    'E' : 5,
    'F' : 6,
    'G' : 7,
    'H' : 8,
    'I' : 9,
    'J' : 10,
    'K' : 11,
    'L' : 12,
    'M' : 13,
    'N' : 14,
    'O' : 15,
    'P' : 16,
    'Q' : 17,
    'R' : 18,
    'S' : 19,
    'T' : 20,
    'U' : 21,
    'V' : 22,
    'W' : 23,
    'X' : 24,
    'Y' : 25,
    'Z' : 26,
    "Unknown": -99999
}

In [ ]:

X_pred['prizm_social_one'] = X_pred['prizm_social_one'].replace(replace_alphabet)

In [ ]:
X_pred['prizm_social_one'].value_counts()

 19       2894
 21       2678
 3        1774
 20       1284
-99999     851
 18        519
Name: prizm_social_one, dtype: int64

In [ ]:
X_pred['HHstatin'].value_counts()

Unknown    4891
C          3031
I           967
A           472
B           338
G           208
H            93
Name: HHstatin, dtype: int64

In [ ]:
X_pred['HHstatin'] = X_pred['HHstatin'].replace(replace_alphabet)

In [ ]:
X_pred['HHstatin'].value_counts()

-99999    4891
 3        3031
 9         967
 1         472
 2         338
 7         208
 8          93
Name: HHstatin, dtype: int64

# Check model features

In [ ]:

features_test = list(X_pred.columns)

In [ ]:
print('Columnas en dataset:',len(features_test))
print('Variables en modelos:',len(features_model))
print('¿Match?:', features_model == features_test)

Columnas en dataset: 138
Variables en modelos: 106
¿Match?: False

In [ ]:
missing_features = [i for i in features_model if i not in features_test]
print('Variables que faltan en el dataset:\n', missing_features)

Variables que faltan en el dataset:
 []

In [ ]:
for col in missing_features:
  X_pred[col]= 0

In [ ]:
drop_features = [i for i in features_test if i not in features_model]
print('Variables que debes eliminar de tu dataset:\n', drop_features)

Variables que debes eliminar de tu dataset:
 ['totmrc', 'da', 'ovrmou', 'ovrrev', 'vceovr', 'datovr', 'roam', 'change_rev', 'plcd_vce', 'comp_vce', 'comp_dat', 'ccrndmou', 'cc_mou', 'inonemin', 'mou_opkd', 'attempt', 'totcalls', 'totmou', 'adjrev', 'adjmou', 'adjqty', 'avgmou', 'avgqty', 'avg3mou', 'avg3qty', 'avg6mou', 'avg6qty', 'phones', 'models', 'ethnic_C', 'ethnic_D', 'ethnic_M']

In [ ]:

# Reordena variables
X_pred = X_pred[features_model]

In [ ]:
features_test = list(X_pred.columns)

In [ ]:
print('Columnas en dataset:',len(features_test))
print('Variables en modelos:',len(features_model))
print('¿Match?:', features_model == features_test)

Columnas en dataset: 106
Variables en modelos: 106
¿Match?: True

In [ ]:
X_pred.head()

,rev,mou,change_mou,drop_vce,drop_dat,blck_vce,blck_dat,unan_vce,unan_dat,plcd_dat,recv_vce,recv_sms,custcare,threeway,mou_cvce,mou_cdat,mou_rvce,owylis_vce,mouowylisv,iwylis_vce,mouiwylisv,peak_vce,peak_dat,mou_peav,mou_pead,opk_vce,opk_dat,mou_opkv,drop_blk,complete,callfwdv,callwait,months,uniqsubs,actvsubs,new_cell,asl_flag,totrev,avgrev,avg3rev,avg6rev,prizm_social_one,dualband,refurb_new,hnd_price,hnd_webcap,truck,rv,ownrent,lor,dwlltype,marital,adults,income,numbcars,HHstatin,dwllsize,forgntvl,kid0_2,kid3_5,kid6_10,kid11_15,kid16_17,creditcd,eqpdays,area_ATLANTIC SOUTH,area_CALIFORNIA NORTH,area_CENTRAL/SOUTH TEXAS,area_CHICAGO,area_DALLAS,area_DC/MARYLAND/VIRGINIA,area_GREAT LAKES,area_HOUSTON,area_LOS ANGELES,area_MIDWEST,area_NEW ENGLAND,area_NEW YORK CITY,area_NORTH/SOUTH FLORIDA,area_NORTHWEST/ROCKY MOUNTAIN,area_OHIO,area_PHILADELPHIA,area_SOUTHWEST,area_TENNESSEE,ethnic_B,ethnic_F,ethnic_G,ethnic_H,ethnic_I,ethnic_J,ethnic_N,ethnic_O,ethnic_R-i-i-P-X,ethnic_S,ethnic_U,ethnic_Unknown,ethnic_Z,crclscod_A,crclscod_AA,crclscod_B,crclscod_BA,crclscod_C,crclscod_CA,crclscod_DA,crclscod_EA,crclscod_Others,crclscod_ZA
Customer_ID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1090001,30.8350,136.75,48.25,2.000000,0.000000,10.333333,0.0,13.333333,0.0,0.000000,3.333333,0.0,1.333333,0.333333,71.746667,0.000000,5.406667,1.333333,0.713333,0.333333,0.473333,30.000000,0.0,54.500000,0.0,13.666667,0.000000,22.653333,12.333333,40.666667,0.0,0.000000,7,1,1,-99999,0,248.46,30.49,30,31.0,3,1,1,149.98999,1,0.0,0.0,0,-99999.0,1,1,1.0,3.0,0.0,3,-99999.0,1.0,0,0,0,0,0,1,216.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0
1090002,35.8475,352.75,-352.75,9.000000,0.000000,0.000000,0.0,10.000000,0.0,1.000000,31.000000,0.0,3.666667,1.333333,98.543333,1.023333,83.666667,15.666667,12.683333,1.333333,14.286667,38.000000,0.0,106.926667,0.0,43.666667,1.000000,75.283333,9.000000,66.333333,0.0,1.333333,7,1,1,-99999,1,391.87,50.93,48,51.0,3,1,1,99.98999,1,0.0,0.0,-99999,-99999.0,-99999,-99999,-99999.0,-99999.0,0.0,-99999,-99999.0,0.0,0,0,0,0,0,0,101.0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1090003,30.3275,241.50,-86.50,2.000000,0.000000,4.666667,0.0,20.666667,0.0,0.000000,26.666667,0.0,4.333333,1.666667,143.530000,0.000000,27.373333,9.666667,3.760000,19.666667,21.736667,48.666667,0.0,76.356667,0.0,36.000000,0.000000,94.543333,6.666667,59.333333,0.0,0.333333,9,2,2,1,0,312.91,31.35,30,31.0,20,0,1,129.98999,1,1.0,0.0,1,13.0,0,1,3.0,6.0,1.0,3,0.0,0.0,0,0,0,0,0,1,262.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
1090004,154.6925,2297.00,119.00,20.333333,0.000000,5.000000,0.0,329.333333,0.0,0.000000,628.000000,0.0,0.333333,0.000000,769.136667,0.000000,679.020000,271.000000,167.090000,68.666667,150.656667,723.000000,0.0,961.736667,0.0,346.000000,0.000000,486.420000,25.333333,723.000000,0.0,8.333333,11,1,1,-99999,0,2217.05,213.12,155,278.0,19,0,0,79.98999,1,0.0,0.0,1,3.0,0,-99999,3.0,6.0,1.0,-99999,0.0,0.0,0,0,0,0,0,1,127.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0
1090005,156.0050,542.25,195.75,5.666667,0.333333,0.666667,0.0,46.333333,0.0,0.666667,11.333333,0.0,21.666667,0.333333,343.066667,0.010000,11.243333,13.000000,14.563333,1.333333,2.100000,91.000000,0.0,205.216667,0.0,31.000000,0.333333,149.096667,6.666667,115.333333,0.0,0.666667,9,1,1,-99999,1,879.51,86.95,143,91.0,21,1,1,149.98999,1,0.0,0.0,1,1.0,-99999,0,1.0,6.0,1.0,3,-99999.0,0.0,0,0,0,0,0,1,37.0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [ ]:

predict = model.predict(X_pred)
predict

array([0, 0, 0, ..., 1, 1, 1])

In [ ]:
predict_proba = model.predict_proba(predict)
predict_proba

array([0.40752273, 0.59247727])

In [ ]:
df_predict = pd.DataFrame(predict, columns=['Predict'],  index = X_pred.index)

In [ ]:

df_predict = df_predict.reset_index().rename(columns={'index': 'New_Column'})
df_predict

      Customer_ID  Predict
0         1090001        0
1         1090002        0
2         1090003        0
3         1090004        1
4         1090005        0
...           ...      ...
9995      1099996        1
9996      1099997        1
9997      1099998        1
9998      1099999        1
9999      1100000        1

[10000 rows x 2 columns]

In [ ]:
all_probabilities = model.predict_proba(X_pred)
class_probabilities = np.array([])
for tree in all_probabilities:
    class_probabilites = np.append(class_probabilities, tree.max())

In [ ]:
df_predict_proba = pd.DataFrame(all_probabilities)

In [ ]:
merged_df = df_predict.merge(df_predict_proba, left_index=True, right_index=True)

In [ ]:
merged_df = merged_df.rename(columns={0: 'Predict_Proba_0', 1:  'Predict_Proba_1'})

In [ ]:

merged_df.set_index("Customer_ID")

             Predict  Predict_Proba_0  Predict_Proba_1
Customer_ID
1090001            0         0.665551         0.334449
1090002            0         0.548054         0.451946
1090003            0         0.739124         0.260876
1090004            1         0.408876         0.591124
1090005            0         0.501434         0.498566
...              ...              ...              ...
1099996            1         0.087582         0.912418
1099997            1         0.066235         0.933765
1099998            1         0.052938         0.947062
1099999            1         0.392727         0.607273
1100000            1         0.180333         0.819667

[10000 rows x 3 columns]

In [ ]:
merged_df.to_csv('/content/drive/MyDrive/EJERCICIO-ML-Sup-main/data/predicted.csv')